{% extends 'base1.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5 " style="width: 60%;">
            <div class="card form-group" style="padding: 5px;">
                <h2 style="margin-top: 10px;">Editar Profesor</h2>
                <form method="post" style="padding: 10px;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'lista_profesores' %}" class="btn btn-secondary">Volver</a>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}